{% extends "base.html" %}
{%block content%}
	<title> About Me </title>
	<center> 
			<h2>About me </h2>
			<i> Assuming you care for some reason... </i>
		
		<div class="commentContent">
			<div class="commentTitle">
				<h3> <i> Who <b>ARE</b> you? </i> </h3> 
			</div>
			<br>
			My name is Adris Jaoutakas. <br> <br>
			Simply put, I'm a person who loves to make stuff. <br>
			I believe that creating is one of the greatest things a person can do, <br>and so my passions and hobbies reflect this. <br> <br>
		</div>
		<br>
		<div class="commentContent">
			<br>
			<div class="commentTitle">
				<h3> <i> No that's not what I meant. I meant what's your <b> background</b> ? </i> </h3>
			</div>	
			<br>
			Well, currently I'm a student at Stuyvesant High School. <br>
			I've had one and a half years of high school experience, and over 10 years of school experience. <br> <br>
			Clearly this makes me a good candidate for anything. <br> <br>
		</div>
		<br>
		<div class="commentContent">
			<br>
			<div class="commentTitle">
				<h3> <i> Very well. Got any interests/hobbies?</i> </h3>
			</div>
			<br>
			In Stuyvesant I'm part of the Robotics team and its Science Olympiad team. <br>
			As stated beforehand, I love creating things. Primarily I'm interested in creating video games and music. <br>
			If you're interested in viewing my work, please visit the <a href="/content"> Content Page </a>.<br> <br>
		</div>
		<br>
	</center>
{% endblock %}