{% extends "base.html" %}
{%block content%}
	<title> Content! </title>
	<center>
		<h2> Content/Work by me </h2>
		<br>
		<br>
		Here are various links where you can view content created by me. <br><br><br>
		<h3> Videogames: </h3> <br>
		<div class="commentContent">
			<center>
				<iframe width="640" height="480"
					src="http://www.youtube.com/embed/ZO45ePDb6hI?autoplay=0">
				</iframe> <br>
				<i> Ths music in this video was also made by me. </i>
			</center>
		</div>
		<br>
		<h3> Music: </h3> <br>
		<div class="commentContent">
			<br>
			I am an amateur music creator.<br>
			If you want to listen to some music I have made in the past, feel free to check out mah soundcloud fo da fire mixtapes <br>
			<i> (DISCLAIMER: There are no mixtapes on my soundcloud, rest assured) </i> <br>
			<b><a href="https://soundcloud.com/ambeus/tracks"> Click here to see some music I have made. </a> </b>
			<br><br>
			
{% endblock %}