{% extends "base.html" %}
{%block content%}
	<h2> Hey you! <br>Yes!<br> You! </h2>
	<br><br>
	<b>Do you have one or more of these following skillsets? </b><br> <br>
	<ul>
		<li> Creating Pixel Art </li>
		<li> Creating Art of specific objects and environments</li>
		<li> Marketing </li>
		<li> Effective communication from social media </li>
		<li> Experience in creating a product (like, having COMPLETED a product before and PUBLISHED it. Doesn't have to be good/popular)</li>
	</ul>
	<br><br>
	<h3> <i> <b> If so, I invite us to work together to go further than we could have just by ourselves. </b> </i> </h3>
	<br><br>
	<i> What do I mean? </i>
	<br>
	Well, if you have any of these skills and are interested in creating or contributing to games/apps, I could really use your help.
	<br>
	<br>
	<i> DISCLAIMER: No actual money/business connotations are involved here. This is purely for fun. </i>
	<br>
	<br>
	<center>
		<b> CONTACT INFORMATION: </b> <br>
		<font color = "red">
			<br>
			email: <i> adrisj7@gmail.com </i> <br>
			<br>
		</font>
		(that's pretty much it for now. You can also talk to me on Facebook (Adris Jaoutakas))
	</center>
	<br>
	<br>
{% endblock %}