{% extends "base.html" %}
{%block content%}
	<title> HOME </title>
	<h1> Homepage </h1>
	<br> WELCOME TO THE HOMEPAGE! <br> <br>
	Unfortunately there isn't much here. <br><br><br>
	How dissapointing. <br> <br>
	But <b> Never fear! </b> We have installed convenient tabs at the top to navigate to more cool parts of the site!
	<br>
	<br>
	Also there's a comment section below to type a comment and argue with other people, which can be seen in the Comments tab. <br>
	Admittedly a lot of these things are randomly added in, but hey, it was fun to make. <br>
	<br>
	Happy browsing!
	
{% endblock %}